@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.panel-journals {
  height: 100vh;
  width: 100%;
  background: #111;
  padding-left: 8px;
}

.panel-journals__name {
  list-style: none;
  margin: 0;
  padding-top: 64px;
}

.panel-journals__name a {
  color: #EEE;
}

.panel-journals__name a:hover {
  color: #ff671f;
}

.panel-entries {
  height: 100vh;
  width: 100%;
  background: #EEE;
}

.panel-entry {
  height: 100vh;
  width: 100%;
}

h1 { color: pink; }

